.card {
  display: block;
  width: 150px;
  height: 180px;
  align-items: center;
  text-align: center;
  background-color: rgb(246, 246, 246);
  border: 1px solid gray
}

#catalog {
  display: flex;
  margin: 10px 0px;
  flex-direction: column;
}

.katalog {
  display: block;
  margin: 15px 15px;
}